{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - Ifood</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="background" id="background">
        <div class="form-container" id="form-container">
            <h2>Login</h2>
            {% include 'partials/_flash_messages.html' %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
                <div class="text-center mt-3">
                    <p class="m-0">If you have no account yet,<br> Register <a href="{% url 'user:register' %}">here</a></p>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
